
@{
    Layout = null;
}
@model TraversalCoreProje.Models.UserRegisterViewModel
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Treversal Kayıt Ol</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Invent Signup Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/web/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
</head>

<body>
    <!-- /login-section -->
    <section class="w3l-login-6">
        <div class="login-hny">
            <div class="form-content">
                <div class="form-right">
                    <div class="overlay">
                        <div class="grid-info-form">
                            <h5>Treversal Rezervasyon</h5>
                            <h3>Hesap Oluştur </h3>
                            <p>
                               Birbirinden deneyimli rehberlerimiz eşliginde iskandinav ülkelerinin soğunun Akdeniz Ülkerlerinin Sıcağını Güzel ülkemizin kapadokya dan sürmeneye ölüdenizden asos a balkan turundan mısır çöllerine kadar aklınıza gelen her yere götürüyoruz.
                            </p>
                            <a href="index.html" class="read-more-1 btn">Hesabın Varmı Giriş Yap</a>
                        </div>

                    </div>
                </div>
                <div class="form-left">
                    <div class="middle">
                        <h4>Hesap Oluştur</h4>
                        <p>Ücretsiz Hesap Oluştur</p>
                    </div>
                    <form method="post" class="signin-form">
                        <div class="form-input">
                            <label>Adınız</label>
                            <input type="text"  asp-for="Name" />
                            <span asp-validation-for="Name" style="color:red;"></span>
                        </div>
                        <div class="form-input">
                            <label>Soyadınız</label>
                            <input type="text" asp-for="Surname" />
                            <span asp-validation-for="Surname" style="color:red;"></span>

                        </div>
                        <div class="form-input">
                            <label>Kullanıcı Adınız</label>
                            <input type="text" asp-for="Username" />
                            <span asp-validation-for="Username" style="color:red;"></span>

                        </div>
                        <div class="form-input">
                            <label>Mail Adresiniz</label>
                            <input type="email" asp-for="Mail" />
                            <span asp-validation-for="Mail" style="color:red;"></span>

                        </div>
                        <div class="form-input">
                            <label>Şifreniz</label>
                            <input type="password" asp-for="Password" />
                            <span asp-validation-for="Password" style="color:red;"></span>

                        </div>
                        <div class="form-input">
                            <label>Şifreniz Tekrarı</label>
                            <input type="password" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" style="color:red;"></span>

                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <label class="container">
                            <a href="#">Şartları okudum </a>Kabul <a href="#"> Ediyorum</a>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <button class="btn">Hesap Oluştur</button>
                    </form>
                    <div class="copy-right text-center">
                        <p>
                            © @DateTime.Now.Year Invent Signup. All rights reserved | Design by
                            <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- //login-section -->
</body>

</html>